.signIn {
    bottom: 0;
    right: 0;
    margin: 0% 2% 2% 0%;
    position: absolute;
}

input {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.50);
  border-color: rgba(0, 0, 0, 0.50);
  color: white;
  padding: 5px;
  font-size: 1em;
  width: 250px;
  height: 30px;
}
